@font-face{
    font-family: Roboto-bold;
    src: url(../fonts/Roboto/Roboto-Bold.ttf);
    
}
@font-face{
    font-family: Roboto-regular;
    src: url(../fonts/Roboto/Roboto-Regular.ttf);
    
}
@font-face{
    
    font-family: Gluten-VariableFont_wght;
    src: url(../fonts/Gluten/Gluten-VariableFont_wght.ttf);
    
}

@font-face {
    font-family: NotoSans_bold ;
    src: url(../fonts/Noto-sans/NotoSans-Bold.ttf);
}

*{
    color: white;
}


.Container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
    
}


.Container:before{
    background-image: url(../images/map1-cut.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    content: "";
    width: 100%;
    min-height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.4;
    z-index: -1;
}

input, select{
    background-color: #56565870;
    border-radius: 4px;
    font-family: Roboto-bold ;
   

}

.selectCountry{
    max-width: 95%;
}



.cont{
    
    background-color: rgb(0 0 0 / 95%);
    height: 75%;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 8px;


}
.title{
    text-align: center;
}

.title h1{
    font-family: Gluten-VariableFont_wght ;
    margin-top: 2%;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    border: 1px solid;
    border-radius: 4px;
    margin: 2%;
    padding-left: 2%;
}

.btn{
    display: flex;
    justify-content: center;
}

.btn button{
    background-color: #018f18;
    width: 30%;
    border: 2px solid white;
    border-radius: 4px;
    padding-top: 1%;
    padding-bottom: 1%;
    font-family: NotoSans_bold ;
}

.btn button:hover{
    background-color: white;
    border: 2px solid #018f18;
    color: #018f18;

}

.link{
    display: flex;
    justify-content:right;
}

.btnBack{
    background-color: crimson;
    width: 20%;
    border: 2px solid white;
    border-radius: 4px;    
    margin-bottom: 10px;
    margin-right: 10px;
    padding-top: 1%;
    padding-bottom: 1%;
    font-family: Roboto-bold;
}

.btnBack:hover{
    background-color: white;
    color: crimson;
    border: 2px solid crimson;

}

